
### Projects & Build ###
[Bb]in/
[Oo]bj/
*.log
*.tmp
*.user
*.suo
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.pdb
*.cache
*.ilk
*.meta
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*_wpftmp.csproj

# Visual Studio folders
.vs/
Generated\ Files/
_ReSharper*/
_TeamCity*/
.axoCover/*
_NCrunch_*/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build Results
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]*/
bld/
[Bb]uild[Ll]og.*
BenchmarkDotNet.Artifacts/
project.lock.json
project.fragment.lock.json
artifacts/

# SQL / Database
*.mdf
*.ldf
*.ndf
!Database/
!DVLD.bak
!DVLD_script.sql

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Azure / Web / Publish
publish/
*.publishsettings
*.pubxml
*.azurePubxml
PublishScripts/
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx*
csx/
ecf/
rcf/

# Test Results
[Tt]est[Rr]esult*/
*.VisualState.xml
TestResult.xml
nunit-*.xml
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

# Misc / Tools
*.rsuser
*.userprefs
mono_crash.*
*.GhostDoc.xml
*.jfm
*.pfx
*.plg
*.opt
*.vbw
*.vbp
*.dsw
*.dsp
*.binlog
*.nvuser
*.mm.*
*.jmconfig
*.tss
Node_modules/
.Fake/
.paket/
paket-files/
.mfractor/
.localhistory/
.history/
FodyWeavers.xsd
healthchecksdb
MigrationBackup/
